sales-manual-reader-flow.json
[{"id":"a252948d.9913c8","type":"tab","label":"Front End Flow","disabled":false,"info":"What this is intended to do is help answer a question I and my colleagues get asked a lot, which is \"When does this IBM Power System stop being sold/reach end of support?\".\r\n\r\nSo, my first pass at this helps answer that question.\r\n\r\nI am running this version in a Docker Container on an IBM Power System.\r\n\r\nIt should also work elsewhere, but you will need the Python scripts and the libraries they use installed in your image."},{"id":"ecfd3ea9.33aa9","type":"tab","label":"Checking for Options","disabled":false,"info":""},{"id":"176a32f1.8edd1d","type":"tab","label":"Format output","disabled":false,"info":""},{"id":"f809feda.ce702","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5534f964.c121c8","type":"split","z":"a252948d.9913c8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":130,"y":520,"wires":[["d8a254a8.0d8a78"]]},{"id":"d8a254a8.0d8a78","type":"switch","z":"a252948d.9913c8","name":"What was the question?","property":"lifecycle_date","propertyType":"msg","rules":[{"t":"eq","v":"Announcement","vt":"str"},{"t":"eq","v":"Generally Available","vt":"str"},{"t":"eq","v":"Withdrawn from Marketing","vt":"str"},{"t":"eq","v":"EoS","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":310,"y":540,"wires":[["39bc39e1.e22616"],["3f44415.bffccbe"],["d7155056.7e06d"],["541699d.baa2f68"]]},{"id":"d84099e3.3c6a48","type":"http in","z":"a252948d.9913c8","name":"BOT Home Page","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":100,"y":760,"wires":[["fd03323b.2ddd1"]]},{"id":"7994752d.33d7dc","type":"template","z":"a252948d.9913c8","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n# Copyright 2018 IBM\n#\n# Licensed under the Apache License, Version 2.0 (the \"License\");\n# you may not use this file except in compliance with the License.\n# You may obtain a copy of the License at\n#\n#     http://www.apache.org/licenses/LICENSE-2.0\n#\n# Unless required by applicable law or agreed to in writing, software\n# distributed under the License is distributed on an \"AS IS\" BASIS,\n# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n# See the License for the specific language governing permissions and\n# limitations under the License.\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>My BOT</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t      <form>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/><br/>\n\t      </form>\n\t      <button onclick=\"javascript:onChatClick()\" id=\"id_enter\">Send</button>\n\t  </div>\n    </div>\n    \n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>{{{payload.script}}}</script>\n  </body>\n</html>\n","x":519,"y":760,"wires":[["32fc5f27.1ec9d"]]},{"id":"32fc5f27.1ec9d","type":"http response","z":"a252948d.9913c8","name":"","x":733,"y":760,"wires":[]},{"id":"b16dbdf4.59f6c","type":"http in","z":"a252948d.9913c8","name":"BOT REST API","url":"/botchat","method":"post","upload":false,"swaggerDoc":"","x":120,"y":200,"wires":[["756e49a9.e566d8"]]},{"id":"b07dc868.2858d8","type":"http response","z":"a252948d.9913c8","name":"","statusCode":"","headers":{},"x":1090,"y":500,"wires":[]},{"id":"89686aa2.4dc528","type":"function","z":"a252948d.9913c8","name":"Post Service Processing","func":"var request=global.get('request');\nmsg.req= {};\nmsg.req=request;\n\nvar response=global.get('response');\nmsg.res= {};\nmsg.res=response;\n\nvar params=global.get('params');\nmsg.params= {};\nmsg.params=params;\n\nvar mydata=global.get('mydata'); \nmsg.mydata = {};\nmsg.mydata=mydata;\nmsg.mydata.messageout = msg.payload;\n\nvar assist_out=global.get('assist_out');\nmsg.assist_out = {};\nmsg.assist_out=assist_out;\n\nvar lifecycle_date=assist_out.context.Lifecycle_date;\nmsg.lifecycle_date={};\nmsg.lifecycle_date=lifecycle_date;\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":480,"wires":[["5534f964.c121c8"]]},{"id":"fd03323b.2ddd1","type":"template","z":"a252948d.9913c8","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"$(document).ready(function() {\n    javascriptCheck();\n    $('#id_contextdump').hide();\n    enterbutton();\n    invokeAjax (\"Hello\");\n});\n\n// if javascript is enabled on the browser then can remove the warning message\nfunction javascriptCheck() {\n    $('#no-script').remove();\n}\n\n// creates div for interaction with bot      \nfunction createNewDiv(who, message) {\n    var txt = who + ' : ' + message;\n    return $('<div></div>').html(txt);\n}\n\n// appends latest communication with bot to botchathistory\nfunction chat(person, txt) {\n    $('#id_botchathistory').append(createNewDiv(person, txt));\n}    \n\n// sets pressing of enter key to perform same action as send button\nfunction enterbutton(){\n    $(function() {\n        $(\"form input\").keypress(function (e) {\n        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n             $('#id_enter').click();\n             return false;\n        } else {\n        return true;\n        }\n     });\n    });\n}\n\n// User has entered some text.\nfunction onChatClick() {\n    var txt = $('#id_chattext').val();\n    chat('You', txt); \n    invokeAjax(txt);\n    $('#id_chattext').val('');\n}\n\nfunction processOK(response) {\n    console.log(response);\n    console.log(response.botresponse.messageout);\n    console.log(response.botresponse.messageout.output.text);\n    console.log(response.botresponse.messageout.context);\n    chat('Bot', response.botresponse.messageout.output.text); \n    $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n}\n      \nfunction processNotOK() {\n    chat('Error', 'Error whilst attempting to talk to Bot');\n}\n      \nfunction invokeAjax(message) {\n    var contextdata = $('#id_contextdump').data('convContext');\n    console.log('checking stashed context data');\n    console.log(contextdata);\n        \n    var ajaxData = {};\n    ajaxData.msgdata = message;\n    if (contextdata) {\n        ajaxData.context = contextdata;    \n    }\n\n    $.ajax({\n        type: 'POST',\n        url: 'botchat',\n        data: ajaxData,\n        success: processOK,\n        error: processNotOK\n    });\n}","output":"str","x":323,"y":760,"wires":[["7994752d.33d7dc"]]},{"id":"6952863b.0a76c8","type":"comment","z":"a252948d.9913c8","name":"Conversation BOT Template","info":"","x":139,"y":719,"wires":[]},{"id":"d44f3680.694228","type":"comment","z":"a252948d.9913c8","name":"Conversation REST API","info":"","x":140,"y":140,"wires":[]},{"id":"8093f36d.216d2","type":"pythonshell in","z":"a252948d.9913c8","name":"Sales Manual Product Lifecycle Extractor","pyfile":"/usr/src/node-red/sales_manual_product_lifecycle_extractor.py","virtualenv":"/usr/src/node-red/venv","continuous":false,"stdInData":false,"x":240,"y":420,"wires":[["1b681f33.e9ea11"]]},{"id":"9171309.fad94d","type":"pythonshell in","z":"a252948d.9913c8","name":"Sales Manual Lookup","pyfile":"/usr/src/node-red/sales_manual_finder.py","virtualenv":"/usr/src/node-red/venv","continuous":false,"stdInData":false,"x":440,"y":360,"wires":[["7c27cc0e.93dd04"]]},{"id":"c72d4f11.f5ba3","type":"change","z":"a252948d.9913c8","name":"Pass only MTM to scripts","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.context.Server_MTM","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":360,"wires":[["9171309.fad94d"]]},{"id":"39bc39e1.e22616","type":"switch","z":"a252948d.9913c8","name":"Annoucement requested","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":480,"wires":[["6d8bb88a.f07fc8"]]},{"id":"3f44415.bffccbe","type":"switch","z":"a252948d.9913c8","name":"GA requested","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":520,"wires":[["6d8bb88a.f07fc8"]]},{"id":"d7155056.7e06d","type":"switch","z":"a252948d.9913c8","name":"WDFM requested","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":560,"wires":[["6d8bb88a.f07fc8"]]},{"id":"541699d.baa2f68","type":"switch","z":"a252948d.9913c8","name":"EoS requested","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":600,"wires":[["6d8bb88a.f07fc8"]]},{"id":"6f90bd81.97b754","type":"switch","z":"a252948d.9913c8","name":"Check for unannounced dates","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"-","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":770,"y":660,"wires":[["2ff14f76.e5954"],["b0a9f9cf.567848"]]},{"id":"6d8bb88a.f07fc8","type":"function","z":"a252948d.9913c8","name":"Remove spaces","func":"msg.payload=msg.payload.trim();\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":540,"wires":[["6f90bd81.97b754"]]},{"id":"1b681f33.e9ea11","type":"switch","z":"a252948d.9913c8","name":"Check for missing Sales Manual","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Missing","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":550,"y":420,"wires":[["7e16e7d2.13e7b8"],["89686aa2.4dc528"]]},{"id":"779da7bf.2bbb88","type":"switch","z":"a252948d.9913c8","name":"Check intent","property":"intent","propertyType":"msg","rules":[{"t":"eq","v":"Greeting","vt":"str"},{"t":"eq","v":"Check_Date","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":810,"y":240,"wires":[["8370cafa.d8dd78"],["a38f1272.bfc2b"]]},{"id":"595d24ac.905abc","type":"function","z":"a252948d.9913c8","name":"Pull out intent","func":"var intent=msg.payload.intents[0].intent;\nmsg.intent={};\nmsg.intent=intent\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":240,"wires":[["779da7bf.2bbb88"]]},{"id":"da7768a7.8587f8","type":"watson-conversation-v1","z":"a252948d.9913c8","name":"IBM Power Systems Helper","workspaceid":"fce352fd-061e-452e-b3c7-3a18700a78dc","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/c6a8deb1-c724-4ad3-ac1d-660144bf8792","timeout":"","optout-learning":false,"x":420,"y":240,"wires":[["595d24ac.905abc"]]},{"id":"756e49a9.e566d8","type":"link out","z":"a252948d.9913c8","name":"Bot REST API Out","links":["6c118439.49adec"],"x":255,"y":200,"wires":[]},{"id":"b5d9e891.5ad228","type":"switch","z":"ecfd3ea9.33aa9","name":"Check for option","property":"option","propertyType":"global","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":100,"wires":[["b2a518c7.59c908"],["64faafcb.dd06"]]},{"id":"64faafcb.dd06","type":"function","z":"ecfd3ea9.33aa9","name":"Pre Service Processing","func":"msg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\nmsg.params.apikey = \"THI2ACNDZyF24qgk9V4gMx-SaR7N3u3pXAE5cC3ofXS2\"\n\nglobal.set(\"mydata\",{});\nglobal.set(\"mydata\",msg.mydata);\nglobal.set(\"params\",{});\nglobal.set(\"params\",msg.params);\nglobal.set(\"request\",{});\nglobal.set(\"request\",msg.req);\nglobal.set(\"response\",{});\nglobal.set(\"response\",msg.res);\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":140,"wires":[["8fed7111.07b5"]]},{"id":"b2a518c7.59c908","type":"function","z":"ecfd3ea9.33aa9","name":"Form input from previous input","func":"msg.params = {};\nmsg.params.apikey = \"THI2ACNDZyF24qgk9V4gMx-SaR7N3u3pXAE5cC3ofXS2\"\n\nvar Lifecycle_date=msg.payload.context.Lifecycle_date;\n\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nvar Server_MTM=msg.mydata.messagein;\n\nmsg.payload = \"When was the \" +Lifecycle_date +\" date for the \" +Server_MTM +\"?\";\n\nglobal.set(\"mydata\",msg.mydata);\nglobal.set(\"params\",msg.params);\nglobal.set(\"request\",msg.req);\nglobal.set(\"response\",msg.res);\nglobal.set(\"option\",\"\");\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":60,"wires":[["8fed7111.07b5"]]},{"id":"6c118439.49adec","type":"link in","z":"ecfd3ea9.33aa9","name":"Bot REST API In","links":["756e49a9.e566d8"],"x":195,"y":100,"wires":[["b5d9e891.5ad228"]]},{"id":"e866211b.6649f","type":"link in","z":"a252948d.9913c8","name":"Initial Check for previous Option In","links":["8fed7111.07b5"],"x":255,"y":240,"wires":[["da7768a7.8587f8"]]},{"id":"8fed7111.07b5","type":"link out","z":"ecfd3ea9.33aa9","name":"Initial Check for previous Option out","links":["e866211b.6649f"],"x":820,"y":100,"wires":[]},{"id":"8370cafa.d8dd78","type":"link out","z":"a252948d.9913c8","name":"Intent \"Greeting\" format out","links":["6c43263e.fbfda8"],"x":935,"y":220,"wires":[]},{"id":"730f2df2.a3bb34","type":"function","z":"176a32f1.8edd1d","name":"Set botresponse","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["cb33e882.2a85e8"]]},{"id":"6c43263e.fbfda8","type":"link in","z":"176a32f1.8edd1d","name":"Intent \"Welcome\" format in","links":["8370cafa.d8dd78"],"x":195,"y":120,"wires":[["730f2df2.a3bb34"]]},{"id":"797b77c.3a0b788","type":"link in","z":"a252948d.9913c8","name":"Output to webpage in","links":["9820e5fa.2d6ad8"],"x":995,"y":500,"wires":[["b07dc868.2858d8"]]},{"id":"9820e5fa.2d6ad8","type":"link out","z":"176a32f1.8edd1d","name":"Output to webpage out","links":["797b77c.3a0b788"],"x":935,"y":200,"wires":[]},{"id":"cb33e882.2a85e8","type":"template","z":"176a32f1.8edd1d","name":"HTML Template adds blog link","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.botresponse.messageout.output.text}}\n<br>{{.}}\n{{/payload.botresponse.messageout.output.text}}\n<p>You may also find this blog useful, about how those older IBM Power Systems were great, but the time has come to move up to POWER9! You can access that\n<a target=\"_blank\" href=\"https://www.linkedin.com/pulse/those-older-ibm-power-systems-were-great-time-has-come-david-spurway\">here</a>.</p>","output":"str","x":590,"y":120,"wires":[["9820e5fa.2d6ad8"]]},{"id":"a38f1272.bfc2b","type":"link out","z":"a252948d.9913c8","name":"Intent \"Check_Date\" out","links":["f7fa9650.632808"],"x":935,"y":260,"wires":[]},{"id":"f7fa9650.632808","type":"link in","z":"ecfd3ea9.33aa9","name":"Intent \"Check_Date\" in","links":["a38f1272.bfc2b"],"x":195,"y":200,"wires":[["49fa26ff.282ca8"]]},{"id":"49fa26ff.282ca8","type":"function","z":"ecfd3ea9.33aa9","name":"Store Assistant Output","func":"// stash away incoming data\nglobal.set(\"assist_out\",{});\nglobal.set(\"assist_out\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["58ee040c.d6b26c"]]},{"id":"58ee040c.d6b26c","type":"switch","z":"ecfd3ea9.33aa9","name":"1st Check for option","property":"payload.output.generic[2].response_type","propertyType":"msg","rules":[{"t":"eq","v":"option","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":580,"y":200,"wires":[["be9d09d0.1b09a8"],["19ff222.16109de"]]},{"id":"19ff222.16109de","type":"switch","z":"ecfd3ea9.33aa9","name":"2nd Check for option","property":"payload.output.generic[3].response_type","propertyType":"msg","rules":[{"t":"eq","v":"option","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":840,"y":220,"wires":[["8e0bde62.84e86"],["8dc9b7c9.03eb68"]]},{"id":"be9d09d0.1b09a8","type":"function","z":"ecfd3ea9.33aa9","name":"Add options to response","func":"msg.payload.output.generic[2].options.forEach(function(element) {\n    var option_text = (element).label\n    \n    msg.payload.output.text.push(option_text)\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":200,"wires":[["2dc96c3b.917e84"]]},{"id":"8e0bde62.84e86","type":"function","z":"ecfd3ea9.33aa9","name":"Add options to response","func":"msg.payload.output.generic[3].options.forEach(function(element) {\n    var option_text = (element).label\n    \n    msg.payload.output.text.push(option_text)\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":240,"wires":[["2dc96c3b.917e84"]]},{"id":"2dc96c3b.917e84","type":"function","z":"ecfd3ea9.33aa9","name":"Record if option needed","func":"// stash away incoming data\nglobal.set(\"option\",\"yes\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":220,"wires":[["2cf2d8ab.73ca48"]]},{"id":"2cf2d8ab.73ca48","type":"link out","z":"ecfd3ea9.33aa9","name":"Intent \"Check_Date\" with option format out","links":["88b451af.df2fe"],"x":1655,"y":220,"wires":[]},{"id":"8dc9b7c9.03eb68","type":"link out","z":"ecfd3ea9.33aa9","name":"Intent \"Check_Date\" first pass out","links":["3cde4938.984246"],"x":1055,"y":280,"wires":[]},{"id":"3cde4938.984246","type":"link in","z":"a252948d.9913c8","name":"Intent \"Check_Date\" first pass in","links":["8dc9b7c9.03eb68"],"x":935,"y":300,"wires":[["c72d4f11.f5ba3"]]},{"id":"88b451af.df2fe","type":"link in","z":"176a32f1.8edd1d","name":"Intent \"Check_Date\" with option format in","links":["2cf2d8ab.73ca48"],"x":195,"y":200,"wires":[["1fd22fa0.b49fe"]]},{"id":"1fd22fa0.b49fe","type":"function","z":"176a32f1.8edd1d","name":"Set botresponse","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nmsg.response_text = {};\nmsg.response_text = msg.payload.botresponse.messageout.output.generic[0].text\nmsg.response_text = msg.response_text +\" and \" +msg.payload.botresponse.messageout.output.generic[1].text\n\nmsg.title ={};\nmsg.title = msg.payload.botresponse.messageout.output.generic[2].title\n\nmsg.options = {};\nmsg.options = msg.mydata.messageout.output.generic[2].options;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["5457c66b.e7e3a8"]]},{"id":"5457c66b.e7e3a8","type":"template","z":"176a32f1.8edd1d","name":"HTML Template","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#response_text}}\n<br>{{.}}\n{{/response_text}}\n{{title}}\n{{#options}}\n<br>\n<button onclick='document.getElementById(\"id_chattext\").value=\"{{value.input.text}}\";onChatClick();'>{{label}}</button>\n{{/options}}","output":"str","x":620,"y":200,"wires":[["9820e5fa.2d6ad8"]]},{"id":"d924c349.527f2","type":"debug","z":"a252948d.9913c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2020,"y":380,"wires":[]},{"id":"7c27cc0e.93dd04","type":"change","z":"a252948d.9913c8","name":"Record URL","rules":[{"t":"set","p":"sales_manual_url","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":360,"wires":[["8093f36d.216d2"]]},{"id":"7e16e7d2.13e7b8","type":"link out","z":"a252948d.9913c8","name":"Missing Sales Manual format in","links":["80ae9611.a83ed8"],"x":935,"y":400,"wires":[]},{"id":"80ae9611.a83ed8","type":"link in","z":"176a32f1.8edd1d","name":"Missing Sales Manual format out","links":["7e16e7d2.13e7b8"],"x":195,"y":260,"wires":[["24a82974.4fdb66"]]},{"id":"24a82974.4fdb66","type":"function","z":"176a32f1.8edd1d","name":"Post Service Processing","func":"var request=global.get('request');\nmsg.req= {};\nmsg.req=request;\n\nvar response=global.get('response');\nmsg.res= {};\nmsg.res=response;\n\nvar params=global.get('params');\nmsg.params= {};\nmsg.params=params;\n\nvar mydata=global.get('mydata'); \nmsg.mydata = {};\nmsg.mydata=mydata;\nmsg.mydata.messageout = \"unfortunately the Sales Manual appears to be missing so I can't check the date at this time\";\n\nvar assist_out=global.get('assist_out');\nmsg.assist_out = {};\nmsg.assist_out=assist_out;\nvar intent=assist_out.intents[0].intent;\nmsg.intent={};\nmsg.intent=intent\nvar lifecycle_date=assist_out.context.Lifecycle_date;\nmsg.lifecycle_date={};\nmsg.lifecycle_date=lifecycle_date;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["2e3aec5b.6b71c4"]]},{"id":"2e3aec5b.6b71c4","type":"function","z":"176a32f1.8edd1d","name":"Set botresponse","func":"msg.mydata.messageout = msg.assist_out;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nerror_message = \" is that the Sales Manual for that server appears to be missing. That means I can't get the dates for that server. Sorry about that!\"\n\nmsg.payload.botresponse.messageout.output.text.push(error_message);\n\nmsg.params = {\n    context : {}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":260,"wires":[["8912286a.04e8a8"]]},{"id":"f05af97f.718dd8","type":"template","z":"176a32f1.8edd1d","name":"HTML Template add Offering Info URL","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.botresponse.messageout.output.text}}\n<br>{{.}}\n{{/payload.botresponse.messageout.output.text}}\n<p>You may may want to check yourself, by searching on the IBM Offering Information site. You can access that\n<a target=\"_blank\" href=\"https://www-01.ibm.com/common/ssi/SearchResult.wss?request_locale=en\">here</a>.</p>","output":"str","x":650,"y":320,"wires":[["9820e5fa.2d6ad8"]]},{"id":"8912286a.04e8a8","type":"function","z":"176a32f1.8edd1d","name":"Concatonate text","func":"output = msg.payload.botresponse.messageout.output.text\nmsg.payload.botresponse.messageout.output.text = []\nmsg.payload.botresponse.messageout.output.text[0] = output.join(' ')\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["f05af97f.718dd8"]]},{"id":"2ff14f76.e5954","type":"link out","z":"a252948d.9913c8","name":"No Date format out","links":["648726e0.88c678"],"x":935,"y":640,"wires":[]},{"id":"f093ac7a.47c8b","type":"function","z":"176a32f1.8edd1d","name":"No date yet announced","func":"msg.payload = \" is that there is no published \" +msg.lifecycle_date +\" date in the Sales Manual for the \" +msg.assist_out.context.Server_MTM +\" so that date has not been announced yet.\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["bd8454f4.151888"]]},{"id":"648726e0.88c678","type":"link in","z":"176a32f1.8edd1d","name":"No Date format in","links":["2ff14f76.e5954"],"x":195,"y":400,"wires":[["f093ac7a.47c8b"]]},{"id":"bd8454f4.151888","type":"function","z":"176a32f1.8edd1d","name":"Set botresponse","func":"msg.mydata.messageout = msg.assist_out;\n\nvar result_date=msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nmsg.payload.botresponse.messageout.output.text.push(result_date);\n\nmsg.params = {\n    context : {}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":460,"wires":[["62bbc5d6.c35e2c","ac7283.ba8e4d8"]]},{"id":"4e520c9a.73be54","type":"template","z":"176a32f1.8edd1d","name":"HTML Template add Sales Manual URL","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.botresponse.messageout.output.text}}\n<br>{{.}}\n{{/payload.botresponse.messageout.output.text}}\n{{#payload.botresponse.messageout.output.URL}}\n<p>You may may want to check yourself, by reading the Sales Manual page for that server. You can access that\n<a target=\"_blank\" href={{.}}>here</a>.</p>\n{{/payload.botresponse.messageout.output.URL}}","output":"str","x":840,"y":520,"wires":[["9820e5fa.2d6ad8","5ea6f2ac.de196c"]]},{"id":"62bbc5d6.c35e2c","type":"function","z":"176a32f1.8edd1d","name":"Concatonate text","func":"output = msg.payload.botresponse.messageout.output.text\nmsg.payload.botresponse.messageout.output.text = []\nmsg.payload.botresponse.messageout.output.text[0] = output.join(' ')\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":460,"wires":[["3ee52ed3.966a72","ab7a7d90.1c9f6"]]},{"id":"3ee52ed3.966a72","type":"function","z":"176a32f1.8edd1d","name":"Restore URL","func":"var URL=global.get('sales_manual_url');\nmsg.payload.botresponse.messageout.output.URL= \"\";\nmsg.payload.botresponse.messageout.output.URL=URL;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["4e520c9a.73be54"]]},{"id":"b0a9f9cf.567848","type":"link out","z":"a252948d.9913c8","name":"Date found format out","links":["9a35c308.92be"],"x":935,"y":680,"wires":[]},{"id":"e8c13e61.f82e4","type":"function","z":"176a32f1.8edd1d","name":"Phrase text of response","func":"msg.payload = \" is that the published \" +msg.lifecycle_date +\" date in the Sales Manual for the \" +msg.assist_out.context.Server_MTM +\" is \" +msg.payload +\".\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":460,"wires":[["bd8454f4.151888","33ea807d.bd09"]]},{"id":"9a35c308.92be","type":"link in","z":"176a32f1.8edd1d","name":"Date found format in","links":["b0a9f9cf.567848"],"x":195,"y":460,"wires":[["e8c13e61.f82e4"]]},{"id":"29066235.27991e","type":"function","z":"176a32f1.8edd1d","name":"Merge lines 1 & 2","func":"output = msg.payload.botresponse.messageout.output.text[0] +msg.payload.botresponse.messageout.output.text[1]\nmsg.payload.botresponse.messageout.output.text = []\nmsg.payload.botresponse.messageout.output.text[0] = output\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":40,"wires":[[]]},{"id":"ad6b36b0.419098","type":"http in","z":"f809feda.ce702","name":"","url":"/helpme","method":"get","upload":false,"swaggerDoc":"","x":190,"y":120,"wires":[["32581da6.f3ea42"]]},{"id":"32581da6.f3ea42","type":"template","z":"f809feda.ce702","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"help me","output":"str","x":300,"y":180,"wires":[["fb6cdcc8.c403c"]]},{"id":"fb6cdcc8.c403c","type":"watson-assistant-v2","z":"f809feda.ce702","name":"","default-endpoint":false,"service-endpoint":"","assistant_id":"50dd2be2-0d7d-40e0-8b97-9783f7a3bae7","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":450,"y":220,"wires":[["a699ea9b.dd92a8","c622eae1.51fa78"]]},{"id":"103755b2.f7a99a","type":"inject","z":"f809feda.ce702","name":"","topic":"","payload":"help me","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":240,"wires":[["32581da6.f3ea42"]]},{"id":"a699ea9b.dd92a8","type":"debug","z":"f809feda.ce702","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":220,"wires":[]},{"id":"c622eae1.51fa78","type":"template","z":"f809feda.ce702","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n{{#output}}\n{{#generic}}\n    {{title}}\n    {{#options}}\n    <button onclick='alert(\"{{value.input.text}}\");'>{{label}}</button>\n    {{/options}}\n{{/generic}}\n{{/output}}\n{{/payload}}","output":"str","x":600,"y":280,"wires":[["6b3cb017.a3c35"]]},{"id":"6b3cb017.a3c35","type":"http response","z":"f809feda.ce702","name":"","statusCode":"","headers":{},"x":710,"y":320,"wires":[]},{"id":"33ea807d.bd09","type":"debug","z":"176a32f1.8edd1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":420,"wires":[]},{"id":"5ea6f2ac.de196c","type":"debug","z":"176a32f1.8edd1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":420,"wires":[]},{"id":"ac7283.ba8e4d8","type":"debug","z":"176a32f1.8edd1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":400,"wires":[]},{"id":"ab7a7d90.1c9f6","type":"debug","z":"176a32f1.8edd1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":340,"wires":[]}]
