sales-manual-reader-flow.json
[{"id":"a252948d.9913c8","type":"tab","label":"Find Life Cycle Dates for IBM Power Systems","disabled":false,"info":"What this is intended to do is help answer a question I and my colleagues get asked a lot, which is \"When does this IBM Power System stop being sold/reach end of support?\".\r\n\r\nSo, my first pass at this helps answer that question.\r\n\r\nI am running this version in a Docker Container on an IBM Power System.\r\n\r\nIt should also work elsewhere, but you will need the Python scripts and the libraries they use installed in your image."},{"id":"5534f964.c121c8","type":"split","z":"a252948d.9913c8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":130,"y":540,"wires":[["d8a254a8.0d8a78"]]},{"id":"d8a254a8.0d8a78","type":"switch","z":"a252948d.9913c8","name":"What was the question?","property":"lifecycle_date","propertyType":"msg","rules":[{"t":"eq","v":"Announcement","vt":"str"},{"t":"eq","v":"Generally Available","vt":"str"},{"t":"eq","v":"Withdrawn from Marketing","vt":"str"},{"t":"eq","v":"EoS","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":310,"y":540,"wires":[["39bc39e1.e22616"],["3f44415.bffccbe"],["d7155056.7e06d"],["541699d.baa2f68"]]},{"id":"d84099e3.3c6a48","type":"http in","z":"a252948d.9913c8","name":"BOT Home Page","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":100,"y":760,"wires":[["fd03323b.2ddd1"]]},{"id":"7994752d.33d7dc","type":"template","z":"a252948d.9913c8","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n# Copyright 2018 IBM\n#\n# Licensed under the Apache License, Version 2.0 (the \"License\");\n# you may not use this file except in compliance with the License.\n# You may obtain a copy of the License at\n#\n#     http://www.apache.org/licenses/LICENSE-2.0\n#\n# Unless required by applicable law or agreed to in writing, software\n# distributed under the License is distributed on an \"AS IS\" BASIS,\n# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n# See the License for the specific language governing permissions and\n# limitations under the License.\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>My BOT</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t      <form>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/><br/>\n\t      </form>\n\t      <button onclick=\"javascript:onChatClick()\" id=\"id_enter\">Send</button>\n\t  </div>\n    </div>\n    \n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>{{{payload.script}}}</script>\n  </body>\n</html>\n","x":519,"y":760,"wires":[["32fc5f27.1ec9d"]]},{"id":"32fc5f27.1ec9d","type":"http response","z":"a252948d.9913c8","name":"","x":733,"y":760,"wires":[]},{"id":"b16dbdf4.59f6c","type":"http in","z":"a252948d.9913c8","name":"BOT REST API","url":"/botchat","method":"post","upload":false,"swaggerDoc":"","x":120,"y":200,"wires":[["5c45c2e9.ac558c"]]},{"id":"b07dc868.2858d8","type":"http response","z":"a252948d.9913c8","name":"","statusCode":"","headers":{},"x":2010,"y":440,"wires":[]},{"id":"69fe58d2.725d68","type":"function","z":"a252948d.9913c8","name":"Pre Service Processing","func":"msg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nflow.set(\"mydata\",{});\nflow.set(\"mydata\",msg.mydata);\nflow.set(\"params\",{});\nflow.set(\"params\",msg.params);\nflow.set(\"request\",{});\nflow.set(\"request\",msg.req);\nflow.set(\"response\",{});\nflow.set(\"response\",msg.res);\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["b2893ec6.c59a2"]]},{"id":"89686aa2.4dc528","type":"function","z":"a252948d.9913c8","name":"Post Service Processing","func":"var request=flow.get('request');\nmsg.req= {};\nmsg.req=request;\n\nvar response=flow.get('response');\nmsg.res= {};\nmsg.res=response;\n\nvar params=flow.get('params');\nmsg.params= {};\nmsg.params=params;\n\nvar mydata=flow.get('mydata'); \nmsg.mydata = {};\nmsg.mydata=mydata;\nmsg.mydata.messageout = msg.payload;\n\nvar assist_out=flow.get('assist_out');\nmsg.assist_out = {};\nmsg.assist_out=assist_out;\n\nvar lifecycle_date=assist_out.context.Lifecycle_date;\nmsg.lifecycle_date={};\nmsg.lifecycle_date=lifecycle_date;\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":440,"wires":[["5534f964.c121c8"]]},{"id":"fd03323b.2ddd1","type":"template","z":"a252948d.9913c8","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"$(document).ready(function() {\n    javascriptCheck();\n    $('#id_contextdump').hide();\n    enterbutton();\n    invokeAjax (\"Hello\");\n});\n\n// if javascript is enabled on the browser then can remove the warning message\nfunction javascriptCheck() {\n    $('#no-script').remove();\n}\n\n// creates div for interaction with bot      \nfunction createNewDiv(who, message) {\n    var txt = who + ' : ' + message;\n    return $('<div></div>').text(txt);\n}\n\n// appends latest communication with bot to botchathistory\nfunction chat(person, txt) {\n    $('#id_botchathistory').append(createNewDiv(person, txt));\n}    \n\n// sets pressing of enter key to perform same action as send button\nfunction enterbutton(){\n    $(function() {\n        $(\"form input\").keypress(function (e) {\n        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n             $('#id_enter').click();\n             return false;\n        } else {\n        return true;\n        }\n     });\n    });\n}\n\n// User has entered some text.\nfunction onChatClick() {\n    var txt = $('#id_chattext').val();\n    chat('You', txt); \n    invokeAjax(txt);\n    $('#id_chattext').val('');\n}\n\nfunction processOK(response) {\n    console.log(response);\n    console.log(response.botresponse.messageout);\n    console.log(response.botresponse.messageout.output.text);\n    console.log(response.botresponse.messageout.context);\n    chat('Bot', response.botresponse.messageout.output.text); \n    $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n}\n      \nfunction processNotOK() {\n    chat('Error', 'Error whilst attempting to talk to Bot');\n}\n      \nfunction invokeAjax(message) {\n    var contextdata = $('#id_contextdump').data('convContext');\n    console.log('checking stashed context data');\n    console.log(contextdata);\n        \n    var ajaxData = {};\n    ajaxData.msgdata = message;\n    if (contextdata) {\n        ajaxData.context = contextdata;    \n    }\n\n    $.ajax({\n        type: 'POST',\n        url: 'botchat',\n        data: ajaxData,\n        success: processOK,\n        error: processNotOK\n    });\n}","output":"str","x":323,"y":760,"wires":[["7994752d.33d7dc"]]},{"id":"6952863b.0a76c8","type":"comment","z":"a252948d.9913c8","name":"Conversation BOT Template","info":"","x":139,"y":719,"wires":[]},{"id":"d44f3680.694228","type":"comment","z":"a252948d.9913c8","name":"Conversation REST API","info":"","x":140,"y":140,"wires":[]},{"id":"8093f36d.216d2","type":"pythonshell in","z":"a252948d.9913c8","name":"Sales Manual Product Lifecycle Extractor","pyfile":"/usr/src/node-red/sales_manual_product_lifecycle_extractor.py","virtualenv":"/usr/src/node-red/venv","continuous":false,"stdInData":false,"x":740,"y":380,"wires":[["1b681f33.e9ea11"]]},{"id":"9171309.fad94d","type":"pythonshell in","z":"a252948d.9913c8","name":"Sales Manual Lookup","pyfile":"/usr/src/node-red/sales_manual_finder.py","virtualenv":"/usr/src/node-red/venv","continuous":false,"stdInData":false,"x":440,"y":380,"wires":[["8093f36d.216d2"]]},{"id":"b2893ec6.c59a2","type":"watson-conversation-v1","z":"a252948d.9913c8","name":"IBM Power Systems Helper","workspaceid":"fce352fd-061e-452e-b3c7-3a18700a78dc","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":920,"y":200,"wires":[["595d24ac.905abc","a06fa077.28067"]]},{"id":"c72d4f11.f5ba3","type":"change","z":"a252948d.9913c8","name":"Pass only MTM to scripts","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.context.Server_MTM","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":380,"wires":[["9171309.fad94d"]]},{"id":"39bc39e1.e22616","type":"switch","z":"a252948d.9913c8","name":"Annoucement requested","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":480,"wires":[["6d8bb88a.f07fc8"]]},{"id":"520ef575.ccb25c","type":"function","z":"a252948d.9913c8","name":"Set botresponse","func":"msg.mydata.messageout = msg.assist_out;\n\nvar result_date=msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nmsg.payload.botresponse.messageout.output.text.push(result_date);\n\nmsg.params = {\n    context : {}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":540,"wires":[["2233214d.2f21fe"]]},{"id":"3f44415.bffccbe","type":"switch","z":"a252948d.9913c8","name":"GA requested","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":520,"wires":[["6d8bb88a.f07fc8"]]},{"id":"d7155056.7e06d","type":"switch","z":"a252948d.9913c8","name":"WDFM requested","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":560,"wires":[["6d8bb88a.f07fc8"]]},{"id":"541699d.baa2f68","type":"switch","z":"a252948d.9913c8","name":"EoS requested","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":600,"wires":[["6d8bb88a.f07fc8"]]},{"id":"6f90bd81.97b754","type":"switch","z":"a252948d.9913c8","name":"Check for unannounced dates","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"-","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1030,"y":540,"wires":[["c02ead21.b482b"],["347b7a64.fc3f16"]]},{"id":"6d8bb88a.f07fc8","type":"function","z":"a252948d.9913c8","name":"Remove spaces","func":"msg.payload=msg.payload.trim();\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":540,"wires":[["6f90bd81.97b754"]]},{"id":"347b7a64.fc3f16","type":"function","z":"a252948d.9913c8","name":"Phrase text of response","func":"msg.payload = \" is that the published \" +msg.lifecycle_date +\" date in the Sales Manual for the \" +msg.assist_out.context.Server_MTM +\" is \" +msg.payload +\".\"\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":560,"wires":[["520ef575.ccb25c"]]},{"id":"c02ead21.b482b","type":"function","z":"a252948d.9913c8","name":"No date yet announced","func":"msg.payload = \" is that there is no published \" +msg.lifecycle_date +\" date in the Sales Manual for the \" +msg.assist_out.context.Server_MTM +\" so that date has not been announced yet.\"\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":520,"wires":[["520ef575.ccb25c"]]},{"id":"c7f99995.2c0388","type":"switch","z":"a252948d.9913c8","name":"1st Check for option","property":"payload.output.generic[2].response_type","propertyType":"msg","rules":[{"t":"eq","v":"option","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":420,"y":300,"wires":[["85523956.4e48d8"],["99f70bf6.0754b8"]]},{"id":"85523956.4e48d8","type":"function","z":"a252948d.9913c8","name":"Add options to response","func":"msg.payload.output.generic[2].options.forEach(function(element) {\n    var option_text = (element).label\n    \n    msg.payload.output.text.push(option_text)\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":300,"wires":[["e2f8f561.c34238"]]},{"id":"dbb19328.3a883","type":"function","z":"a252948d.9913c8","name":"Set botresponse","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":320,"wires":[["2233214d.2f21fe"]]},{"id":"fbb1f5c4.f70ef8","type":"function","z":"a252948d.9913c8","name":"Store Assistant Output","func":"// stash away incoming data\nflow.set(\"assist_out\",{});\nflow.set(\"assist_out\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":300,"wires":[["c7f99995.2c0388"]]},{"id":"e2f8f561.c34238","type":"function","z":"a252948d.9913c8","name":"Record if option needed","func":"// stash away incoming data\nflow.set(\"option\",\"yes\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":320,"wires":[["dbb19328.3a883"]]},{"id":"5c45c2e9.ac558c","type":"switch","z":"a252948d.9913c8","name":"Check for option","property":"option","propertyType":"flow","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":200,"wires":[["c6ee79c6.942328"],["69fe58d2.725d68"]]},{"id":"c6ee79c6.942328","type":"function","z":"a252948d.9913c8","name":"Form input from previous input","func":"var context=flow.get('context');\nmsg.params = { \"context\": context};\n\nvar Lifecycle_date=context.Lifecycle_date;\n\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nvar Server_MTM=msg.mydata.messagein;\n\nmsg.payload = \"When was the \" +Lifecycle_date +\" date for the \" +Server_MTM +\"?\";\n\nflow.set(\"mydata\",msg.mydata);\nflow.set(\"params\",msg.params);\nflow.set(\"request\",msg.req);\nflow.set(\"response\",msg.res);\nflow.set(\"option\",\"\");\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["b2893ec6.c59a2"]]},{"id":"99f70bf6.0754b8","type":"switch","z":"a252948d.9913c8","name":"2nd Check for option","property":"payload.output.generic[3].response_type","propertyType":"msg","rules":[{"t":"eq","v":"option","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":680,"y":320,"wires":[["34d43e6c.618a42"],["c72d4f11.f5ba3"]]},{"id":"34d43e6c.618a42","type":"function","z":"a252948d.9913c8","name":"Add options to response","func":"msg.payload.output.generic[3].options.forEach(function(element) {\n    var option_text = (element).label\n    \n    msg.payload.output.text.push(option_text)\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":340,"wires":[["e2f8f561.c34238"]]},{"id":"1b681f33.e9ea11","type":"switch","z":"a252948d.9913c8","name":"Check for missing Sales Manual","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Missing","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1050,"y":380,"wires":[["e4569a85.175ff8"],["89686aa2.4dc528"]]},{"id":"e4569a85.175ff8","type":"function","z":"a252948d.9913c8","name":"Post Service Processing","func":"var request=flow.get('request');\nmsg.req= {};\nmsg.req=request;\n\nvar response=flow.get('response');\nmsg.res= {};\nmsg.res=response;\n\nvar params=flow.get('params');\nmsg.params= {};\nmsg.params=params;\n\nvar mydata=flow.get('mydata'); \nmsg.mydata = {};\nmsg.mydata=mydata;\nmsg.mydata.messageout = \"unfortunately the Sales Manual appears to be missing so I can't check the date at this time\";\n\nvar assist_out=flow.get('assist_out');\nmsg.assist_out = {};\nmsg.assist_out=assist_out;\nvar intent=assist_out.intents[0].intent;\nmsg.intent={};\nmsg.intent=intent\nvar lifecycle_date=assist_out.context.Lifecycle_date;\nmsg.lifecycle_date={};\nmsg.lifecycle_date=lifecycle_date;\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":360,"wires":[["7302997.81d3a68"]]},{"id":"7302997.81d3a68","type":"function","z":"a252948d.9913c8","name":"Set botresponse","func":"msg.mydata.messageout = msg.assist_out;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nerror_message = \" the Sales Manual appears to be missing. That means I can't get the dates for that server. Sorry about that!\"\n\nmsg.payload.botresponse.messageout.output.text.push(error_message);\n\nmsg.params = {\n    context : {}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":360,"wires":[["2233214d.2f21fe"]]},{"id":"779da7bf.2bbb88","type":"switch","z":"a252948d.9913c8","name":"Check intent","property":"intent","propertyType":"msg","rules":[{"t":"eq","v":"Greeting","vt":"str"},{"t":"eq","v":"Check_Date","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1350,"y":240,"wires":[["dbb19328.3a883"],["fbb1f5c4.f70ef8"]]},{"id":"595d24ac.905abc","type":"function","z":"a252948d.9913c8","name":"Pull out intent","func":"var intent=msg.payload.intents[0].intent;\nmsg.intent={};\nmsg.intent=intent\n\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":240,"wires":[["779da7bf.2bbb88"]]},{"id":"2233214d.2f21fe","type":"function","z":"a252948d.9913c8","name":"Convert array to string","func":"output = msg.payload.botresponse.messageout.output.text\nmsg.payload.botresponse.messageout.output.text = {}\nmsg.payload.botresponse.messageout.output.text = output.join(' ')\n\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":440,"wires":[["b07dc868.2858d8"]]},{"id":"a06fa077.28067","type":"debug","z":"a252948d.9913c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1200,"y":140,"wires":[]}]
